<!DOCTYPE html>
<!--
Copyright (c) 2021 Alexander Romberg
-->

<head>
  <title>AtomAni</title>

  <!-- stylesheets -->
  <link rel="stylesheet" href="/css/general.css">
  <link rel="stylesheet" href="/css/messages.css">

  <%- include('favicon'); %>
</head>

<body>
  <%- include('header',{ origin: `script.back` , title: "Anmelden" }) %>
  <main>
    <% if (messages.error) { %>
    <div id="errorMessage"><%= messages.error %></div>
    <% } %>
    <form id="loginForm" class="centered-div full-width-form" action="/login" method="POST">
      <div>
        <label for="name">Benutzername</label>
        <input class="selectable" type="text" autocomplete="username" id="name" name="name" required <% if (cookies.username !== undefined) {%>value="<%- cookies.username %>" <%} else {%> autofocus<% } %>>
      </div>
      <div>
        <label for="password">Password</label>
        <input class="selectable" type="password" autocomplete="current-password" id="password" name="password" required<%if (cookies.username !== undefined) {%> autofocus<%}%>>
      </div>
      <div>
        <label for="organisation">Organisationsname</label>
        <input class="selectable" type="text" autocomplete="organization" id="organisation" name="organisation" <% if (cookies.orgname !== undefined) {%>value="<%- cookies.orgname %>" <%} %>required>
      </div>
      <input type="hidden" id="username" name="username" value="<% if (cookies.orgname !== undefined) {%><%- cookies.orgname %><%}%>|<% if (cookies.username !== undefined) {%><%- cookies.username %><%}%>" required>
      <button class="btn selectable" type="submit">Login</button>
    </form>
    <script>
      const nameField = document.getElementById('name');
      const organisationField = document.getElementById('organisation');
      const usernameField = document.getElementById('username');
      const loginForm = document.getElementById('loginForm');

      nameField.addEventListener('input', updateUsername);
      organisationField.addEventListener('input', updateUsername);
      organisationField.addEventListener('input', updateUsername);

      function updateUsername() {
        usernameField.value = `${organisationField.value}|${nameField.value}`;
      }
    </script>
  </main>
  <%- include('footer.ejs', { Version }) %>
</body>